@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
}

.bus_detail_top_container {
	margin-bottom: 90px;
	margin-top: 150px;
	min-height: 38.9vh;
}

.bus_detail_second_container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin: 40px;
}

.bus_detail_third_container {
	padding-right: 26px !important;
	padding-left: 26px !important;
	display: flex;
	padding: 20px;
	border: 1px solid black;
	width: fit-content;
	border-radius: 12px;
	flex-direction: column;
	align-items: flex-start;
}

.bus_detail_fourth_container {
	/*
	padding-right: 26px !important;
    padding-left: 26px !important;
    */
	display: flex;
	flex-direction: row;
	/*
    padding: 20px;
    border: 1px solid black;
    width: fit-content;
    border-radius: 12px
    */
}

.t_id_div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.part_top_tid {
	display: flex;
	padding-left: 11px;
	margin-bottom: 11px;
	padding-right: 11px;
	border-radius: 8px;
	width: -webkit-fill-available;
	background-color: #eee;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.action_btns {}

.updt_btn {
	margin-right: 6px;
	height: 24px;
	width: 65px;
	border: 1px solid black;
	border-radius: 4px;
}

.updt_btn:hover {
	background-color: #EBF4FB;
}

.cncl_btn {
	height: 24px;
	width: 62px;
	border: 1px solid black;
	border-radius: 4px;
}

.cncl_btn:hover {
	background-color: hsla(9, 100%, 64%, 0.4);
}

.bus_img_container {
	background-color: #eee;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 21px;
	padding-right: 21px;
	border-radius: 8px;
}

.bs_img_div {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.bs_img {
	width: 100px;
	height: auto;
}

.p_label {
	padding-left: 4px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.p_data {
	background-color: #fff;
	width: 100px;
	border: none;
	margin-top: 4px;
	padding-top: 6px;
	border-radius: 4px;
	height: 24px;
	text-align: center;
}

.field_container {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 8px;
	background-color: #eee;
	display: flex;
	align-items: center;
}

.field1 {
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.field2 {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	display: flex;
	flex-direction: column;
}

.field3 {
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.arrow_div {
	margin-top: 5.4px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.arrow_ticket {
	width: 30px;
	height: auto;
}

.button_container {
	border-radius: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #eee;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* -------------------///////////////////-------------------- */
#form_main_container {
	display: none;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/*margin-bottom: 100px;*/
	transform: translate(0, -413px);
}

#form_container_inner2 {
	display: flex;
	width: 860px;
	height: 460px;
	background-color: #eff;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	border-radius: 16px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#form_container_inner3 {
	padding-right: 26px !important;
	padding-left: 26px !important;
	display: flex;
	padding: 20px;
	border: 1px solid black;
	width: fit-content;
	border-radius: 12px;
	flex-direction: column;
	align-items: flex-start;
	background-color: #fff;
}

.part_top_tid_form {
	display: flex;
	flex-direction: row;
	padding-left: 11px;
	margin-bottom: 11px;
	padding-right: 11px;
	border-radius: 8px;
	width: -webkit-fill-available;
	background-color: #eee;
	justify-content: space-between;
	align-items: center;
}

.tid_div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.f_t_value,
.v_t_value {
	background-color: #fff;
	width: 50px;
	border: none;
	border-radius: 4px;
	margin-top: 4px;
	margin-left: 8px;
	margin-bottom: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	height: 20px;
	text-align: center;
}

.bus_detail_ticket_form {
	/*
	padding-right: 26px !important;
    padding-left: 26px !important;*/
	display: flex;
	flex-direction: row;
	/*padding: 20px;*/
	width: fit-content;
}

.bus_img_container {
	background-color: #eee;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 11px;
	border-radius: 8px;
}

.bs_img_div {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.bs_img {
	width: 100px;
	height: auto;
}

.bs_id_input {}

.arrow_div {
	margin-top: 5.4px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.arrow_ticket {
	width: 30px;
	height: auto;
}

.field_container {
	padding: 4px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 8px;
	background-color: #eee;
	display: flex;
	align-items: center;
}

.field1 {
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.s_time,
.e_time {
	width: 70px;
}

.from,
.destination {
	width: 94px;
}

.date,
.duration {
	width: 100px;
}

.field2 {
	text-align: center;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.field3 {
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.button_container {
	border-radius: 8px;
	padding: 10px;
	background-color: #eee;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bs_id_input,
.s_time,
.from,
.date,
.duration,
.e_time,
.destination,
.price,
.seat_no {
	border: none;
	margin-top: 4px;
	border-radius: 4px;
	height: 24px;
	text-align: center;
}

.submit_btn {
	width: 50px;
	height: 24px;
	border-radius: 4px;
	border: 1px solid black;
	cursor: pointer;
}

.submit_btn:hover {
	background-color: #EBF4FB;
}

input:disabled {
	cursor: default;
	background-color: #fff !important;
	color: black !important;
	border-radius: 4px !important;
	border: none !important;
}

/*////////////////////////////////// CONFIRM DELETE //////////////////////////////*/
#alert_main_container {
	display: none;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 90;
	background-color: hsla(100, 100%, 100%, 0.9);
	top: 0;
}

#alert_inner_div1 {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transform: translate(0, 270px);
}

/*#alert_inner_div2
{
	
}*/
#delete_confirm_div {
	display: flex;
	flex-direction: column;
	width: 470px;
	height: 130px;
	background-color: #fff;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#confirm_btns {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.con_btn {
	margin: 10px;
	border: 1px solid black;
	border-radius: 4px;
	height: 26px;
	padding-left: 8px;
	padding-right: 8px;
}

#keep:hover {
	background-color: #EBF4FB;
	border: 1px solid black;
}

#cancel:hover {
	background-color: hsla(9, 100%, 64%, 0.4);
}

#confirm_msg {
	font-size: 16.4px;
}

/*/////////////////////////// PAYMENT /////////////////////////////////////*/


#payment_all_container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 90px;
}

.step3_heading {
	font-size: 20px;
	text-align: center;
}

#payment_div {
	width: 550px;
	margin: 0 auto;
	border: 1px solid black;
	border-radius: 10px;
}

.para_align {
	font-size: 15px;
	text-align: center;
	margin-bottom: 8px;
}

#payment_method {
	padding-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.payment_images {
	margin-right: 25px;
	margin-left: 25px;
	width: 50px;
	height: 35px;
	cursor: pointer;
}

#payment_form_div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#align_name_icons {
	position: relative;
	left: -2px;
}

.payment_icons {
	position: absolute;
	width: 23px;
	height: auto;
}

#crd_name {
	width: 300px;
	padding-left: 22px;
	margin-bottom: 16px;
}

#align_numbr_icons {
	position: relative;
	left: 2px;
	top: 3px;
}

#card_number {
	width: 300px;
	padding-left: 23px;
}

#expire_and_cvv {
	margin-top: 16px;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#expire {
	width: 123px;
}

#div_for_lock_cvv {
	position: relative;
	top: 3px;
	left: 1px;
}

#lock_for_cvv {
	top: -2px;
	width: 20px;
	left: 2px;
	position: absolute;
}

#cvv {
	padding-left: 25px;
	width: 123px;
}

#div_pay_btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 40px;
}

#pay_btn {
	background-color: white;
	width: 110px;
	height: 35px;
	cursor: pointer;
}

#pay_btn:hover {
	background-color: #EBF4FB;
}